/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

.is-inline-block{
    display: inline-block;
}

/* BANNER */
#banner{
    background-color: white;
    padding: 5px 15px;
}

/* MAIN BOX */
.main-box{
    background-color: white;
    width: 80%;
    max-width: 1080px;
    margin: 50px auto 0 auto;
    border-radius: 10px;
}

/* HEADER MAIN BOX */
.header-main-box{
    padding: 7px 40px;
    border-bottom: 2px solid #f6f8f9;
}

.add-button{
    border: 1px solid #D3D8DC;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: small;
}

.add-button.task-button{
    background-color: #14AAF5;
}

/* CONTENT MAIN BOX */
.content-main-box{
    padding: 20px 40px 40px;
}

/* TODO LIST */
ul{
    list-style-type: none;
    margin-bottom: 30px;
}

li{
    padding-top: 10px;
}

/* TODO STATUS ICON */
.todo-status-icon{
    height: 17px;
    width: 17px;
    line-height: 17px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid;
    margin-right: 5px;
}

.todo-status-icon.is-check{
    color: #2CC6AB;
    border-color: #2CC6AB;
}

.todo-status-icon.is-cross{
    color: #FF0000;
    border-color: #FF0000;
}

/* TODO TAG */
.todo-tag{
    color: white;
    font-size: x-small;
    border-radius: 25px;
    padding: 4px 8px;
    margin-left: 5px;
}

.todo-tag.editorial-tag{
    background-color: #09A9ED;
}

.todo-tag.goal-tag{
    background-color: #AB5DE6;
}

.todo-tag.recruiting-tag{
    background-color: #2CC6AB;
}

.todo-tag.mobile-tag{
    background-color: #FF9B00;
}

.todo-tag.website-tag{
    background-color: #EC4A9D;
}

.todo-tag.sales-tag{
    background-color: #A3D116;
}