/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

body{
    background-color: #F6F8F9;
}

.is-inline-block{
    display: inline-block;
}

/* BANNER */
#banner{
    background-color: white;
    padding-left: 15px;
}

/* HEADER MAIN BOX */
.header-main-box{
    background-color: white;
    width: 70%;
    margin: 50px auto 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 7px 0 7px 50px;
}

.add-button{
    border: 1px solid #D3D8DC;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: small;
}

.add-button.task-button{
    background-color: #14AAF5;
}

/* CONTENT MAIN BOX */
.content-main-box{
    background-color: white;
    width: 70%;
    margin: 2px auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 50px;
    padding-bottom: 50px;
}

/* TASK TITLE */
.task-title{
    padding-top: 25px;
}

.triangle-down{
    width: 17px;
    text-align: center;
}

.title-section{
    font-weight: 700;
    font-size: larger;
}

/* TASK LINE */
.task-line{
    margin-top: 12px;
}

/* TASK SYMBOL */
.task-symbol{
    height: 17px;
    width: 17px;
    line-height: 17px;
    text-align: center;
    border-radius: 100px;
}

.task-symbol.is-check{
    color: #2CC6AB;
    border: 1px solid #2CC6AB;
}

.task-symbol.is-cross{
    color: #FF0000;
    border: 1px solid #FF0000;
}

/* TASK TEXT */
.task-text{
    margin-left: 5px;
}

/* TASK TAG */
.task-tag{
    color: white;
    font-size: x-small;
    border-radius: 25px;
    padding: 4px 8px;
}

.task-tag.editorial-tag{
    background-color: #09A9ED;
}

.task-tag.goal-tag{
    background-color: #AB5DE6;
}

.task-tag.recruiting-tag{
    background-color: #2CC6AB;
}

.task-tag.mobile-tag{
    background-color: #FF9B00;
}

.task-tag.website-tag{
    background-color: #EC4A9D;
}

.task-tag.sales-tag{
    background-color: #A3D116;
}